<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Create Post</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<h1>Create Post</h1>
<form th:action="@{/users/posts/create}" th:object="${post}" method="post">
  <div>
    <label for="title">Title:</label>
    <input class="inputbox"type="text" id="title" th:field="*{title}" />
  </div>
  <div>
    <label for="imageUrl">Image URL:</label>
    <input class="inputbox"type="text" id="imageUrl" th:field="*{imageUrl}" />
  </div>
  <div>
    <label for="content">Content:</label>
    <textarea id="content" th:field="*{content}"></textarea>
  </div>
  <div>
    <label for="category">Category:</label>
    <input class="inputbox"type="text" id="category" th:field="*{category}" />
  </div>
  <div>
    <button type="submit">Create</button>
  </div>
</form>
<div th:if="${errorMessage}">
  <p th:text="${errorMessage}"></p>
</div>
</body>
</html>