<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Create User</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<form action="/req/create-user" method="post">
  <h1>Create User</h1>
  <div class="inputbox">
    <label for="username">Username</label>
    <input name="username" id="username" type="text" required>
  </div>
  <div class="inputbox">
    <label for="password">Password</label>
    <input name="password" id="password" type="password" required>
  </div>
  <div class="inputbox">
    <label for="email">Email</label>
    <input name="email" id="email" type="email" required>
  </div>
  <button type="submit">Create User</button>
</form>
</body>
</html>